<div ng-include="'partials/navbar'"></div>

<div ng-hide="currentUser">

  <div class="jumbotron"> 
    <h1>Bienvenido!</h1>
    <p>Para poder crear recorridos o disfrutar de los recorridos de esta plataforma, crea una cuenta.</p>
    <p><a class="btn btn-lg btn-primary" ui-sref="signup">Registrarse</a></p>
  </div>

</div>

<div ng-show="currentUser">
  <div class="jumbotron">
    <p ng-hide="near">
      <i class="icon fa fa-frown-o"></i>
      No hay ningun punto cerca de tu posicion.
    </p>
    <div ng-show="near && !complete">
      <p> {{near.question.question}} </p>
      <input type="text" class="form-control" ng-model="respuesta" placeholder="Respuesta">
      <button class="btn btn-primary" ng-click="submit()">Respuesta!</button>
    </div>
    <div ng-show="complete">
      <p> Enhorabuena </p>
    </div>
  </div>

  <leaflet height="400px"></leaflet>


</div>