<div ng-include="'partials/navbar'"></div>

<div ng-hide="currentUser">

  <div class="jumbotron"> 
    <h1>Bienvenido!</h1>
    <p>Para poder crear recorridos o disfrutar de los recorridos de esta plataforma, crea una cuenta.</p>
    <p><a class="btn btn-lg btn-primary" ui-sref="signup">Registrarse</a></p>
  </div>

</div>

<div ng-show="currentUser">
  <div class="jumbotron">
    <p ng-hide="near">
      <i class="icon fa fa-frown-o"></i>
      No hay ningun punto cerca de tu posicion.
    </p>
    <p ng-show="near">

    </p>
  </div>

  <leaflet height="200px"></leaflet>


</div>