<ul class="list-group voffset4">
<div ng-repeat="route in routes" class="panel panel-primary">
	<div class="panel-heading ">
        <h3 class="panel-title"> {{ route.name }} </h3>
    </div>
    <div class="panel-body">
    	<div class="row">
	    	<div class="col-md-8">
	    		<p>{{route.description}}</p>
	    	</div>
	    	<div class="col-md-3">
	    		<button class="btn btn-danger" ng-click="unsubscribe(route)"> Eliminar </button>
    		</div>
    	</div>
    </div>
    <div class="panel-footer">
    	<p><small> <i class="icon fa fa-user"></i> Autor: {{route.author.name}} </small></p>
    	<p><small> <i class="icon fa fa-envelope"></i> Contactar: {{route.author.email}}</small></p>
    </div>
</ul>