
<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ui-sref="{{item.state}}"><i class="icon fa fa-{{item.icon}}"></i> {{item.title}}</a>
    </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
        <a ng-click="login()"><i class="icon fa fa-sign-in"></i> Entrar</a>
      </li>
      <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
        <a ui-sref="signup"><i class="icon fa fa-users"></i> Registrarse</a>
      </li>
      <li ng-show="currentUser" ng-class="{active: isActive('/myroutes')}">
        <a ui-sref="myroutes"><i class="icon fa fa-user"></i> Mis rutas</a>
      </li>
      <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
        <a ng-click="logout()"><i class="icon fa fa-sign-out"></i> Salir</a>
      <li>
  </ul>
  <h3 class="text-muted">Gincana social</h3>
</div>